<!DOCTYPE html>
<html>
<head>
	<title>Moderator</title>
</head>
<body>

<div  id="mynavbar">
                <div class="navBarLeft" style="display:flex;">
                  <a ui-sref="app">  
                  <img src="../media/ip-logo.png"   />
                    </a>

                </div>



                <div class = "navBarRight" >
                    

                    <div ><h1 style="display:inline; text-align: center">COURSE INFO</h1></div>

                    <span ng-click="angular.noop()" class="fa-stack fa-2x ">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa  fa- fa-rotate-45 fa-stack-1x " style="color:red;"></i>
                    </span>



                </div>
            </div>

<div class="mainmodcontainer" style="background:url('../media/concrete_seamless.png')">


<iframe id="Example2"
    title="Example2"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    >
</iframe>   


</div>



</html>