<div  class="configTop" >
  
    <div   ng-click="vm.showConf();" id='thefb1' >File Browser</div>    <div id='thetl1'  ng-click="vm.showConf();" >Tag Library</div>    

 </div>           


    <!-- <div class="btn-group" data-toggle="buttons">
        <label class="radio-inline">
            <input type="radio" name="myRadio1" id="myRadio1" ng-checked = "vm.datasource == 'pipes'" ng-click="vm.toggle_datasource('pipes')" value="pipes" >
        Pipes </label>
        <label class="radio-inline">
            <input type="radio" name="myRadio2" id="myRadio2" value="receivers" ng-checked = "vm.datasource == 'receivers'" ng-click="vm.toggle_datasource('receivers')">
        Receivers </label>
        <label class="radio-inline">
            <input type="radio" name="myRadio3" id="myRadio3" value="snippets" ng-checked = "vm.datasource == 'snippets'" ng-click="vm.toggle_datasource('snippets')">
        Snippets </label>
        <label class="radio-inline">
            <input type="radio" name="myRadio4" id="myRadio4" value="general" ng-checked = "vm.datasource == 'general'" ng-click="vm.toggle_datasource('general')">
        General </label>
    </div> -->

    
    
