<div class="libbuttons"></div>
<div class="mybuttons">
        <div class="btn-group"  >
            <label class="btn myradiobtn" name = "types" ng-model = "vm.selectedItem.type" ng-click="vm.toggle_datasource('pipes')" value="pipes"  uib-btn-radio="'pipes'" >pipes</label>

            <label class="btn myradiobtn" name = "types" ng-model = "vm.selectedItem.type"  ng-click="vm.toggle_datasource('receivers')" value="receivers"  uib-btn-radio="'receivers'" >receivers</label>

            <label class="btn myradiobtn" name = "types" ng-model = "vm.selectedItem.type" ng-click="vm.toggle_datasource('snippets')" value="snippets"  uib-btn-radio="'snippets'" >snippets</label>

            <label class="btn myradiobtn" name = "types" ng-model = "vm.selectedItem.type" ng-click="vm.toggle_datasource('general')" value="general"  uib-btn-radio="'general'" >general</label> 
        </div>
</div>